* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*="col-"] {
    flex: 0 0 auto;
}

/* PROPRIETà FLEX  */
.flex {
    display: flex;
}

/* FLEX-DIRECTION  */
.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* JUSTIFY-CONTENT  */
.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

/* ALIGN-ITEMS  */
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

/* FLEX-GROW/FLEX-SHRINK  */
.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-2 {
    flex-shrink: 2;
}

.flex-shrink-3 {
    flex-shrink: 3;
}

/* DIMENSIONAMENTO COLONNE */
.col {
    flex-grow: 1;
}

.col-1 {
    flex-basis: calc((100% / 12) *1);
    max-width: calc((100% / 12) *1);
}

.col-2 {
    flex-basis: calc( (100% / 12) *2);
    max-width: calc((100% / 12) *2);
}

.col-3 {
    flex-basis: calc( (100% / 12) *3);
    max-width: calc((100% / 12) *3);
}

.col-4 {
    flex-basis: calc( (100% / 12) *4);
    max-width: calc((100% / 12) *4);
}

.col-5 {
    flex-basis: calc( (100% / 12) *5);
    max-width: calc((100% / 12) *5);
}

.col-6 {
    flex-basis: calc( (100% / 12) *6);
    max-width: calc((100% / 12) *6);
}

.col-7 {
    flex-basis: calc( (100% / 12) *7);
    max-width: calc((100% / 12) *7);
}

.col-8 {
    flex-basis: calc( (100% / 12) *8);
    max-width: calc((100% / 12) *8);
}

.col-9 {
    flex-basis: calc( (100% / 12) *9);
    max-width: calc((100% / 12) *9);
}

.col-10 {
    flex-basis: calc( (100% / 12) *10);
    max-width: calc((100% / 12) *10);
}

.col-11 {
    flex-basis: calc( (100% / 12) *11);
    max-width: calc((100% / 12) *11);
}

.col-12 {
    flex-basis: calc( (100% / 12) *12);
    max-width: calc((100% / 12) *12);
}

/* DIMENSIONAMENTO OFFSET  */
/* ROW  */
.col-offset-1 {
    margin-left: calc( (100% / 12) *1);
}

.col-offset-2 {
    margin-left: calc( (100% / 12) *2);
}

.col-offset-3 {
    margin-left: calc( (100% / 12) *3);
}

.col-offset-4 {
    margin-left: calc( (100% / 12) *4);
}

.col-offset-5 {
    margin-left: calc( (100% / 12) *5);
}

.col-offset-6 {
    margin-left: calc( (100% / 12) *6);
}

.col-offset-7 {
    margin-left: calc( (100% / 12) *7);
}

.col-offset-8 {
    margin-left: calc( (100% / 12) *8);
}

.col-offset-9 {
    margin-left: calc( (100% / 12) *9);
}

.col-offset-10 {
    margin-left: calc( (100% / 12) *10);
}

.col-offset-11 {
    margin-left: calc( (100% / 12) *11);
}

/* ROW-REVERSE  */
.flex-row-reverse .col-offset-1 {
    margin-right: calc( (100% / 12) *1);
}

.flex-row-reverse .col-offset-2 {
    margin-right: calc( (100% / 12) *2);
}

.flex-row-reverse .col-offset-3 {
    margin-right: calc( (100% / 12) *3);
}

.flex-row-reverse .col-offset-4 {
    margin-right: calc( (100% / 12) *4);
}

.flex-row-reverse .col-offset-5 {
    margin-right: calc( (100% / 12) *5);
}

.flex-row-reverse .col-offset-6 {
    margin-right: calc( (100% / 12) *6);
}

.flex-row-reverse .col-offset-7 {
    margin-right: calc( (100% / 12) *7);
}

.flex-row-reverse .col-offset-8 {
    margin-right: calc( (100% / 12) *8);
}

.flex-row-reverse .col-offset-9 {
    margin-right: calc( (100% / 12) *9);
}

.flex-row-reverse .col-offset-10 {
    margin-right: calc( (100% / 12) *10);
}

.flex-row-reverse .col-offset-11 {
    margin-right: calc( (100% / 12) *11);
}

/* COLUMN  */
.flex-column .col-offset-1 {
    margin-bottom: calc( (100% / 12) *1);
}

.flex-column .col-offset-2 {
    margin-bottom: calc( (100% / 12) *2);
}

.flex-column .col-offset-3 {
    margin-bottom: calc( (100% / 12) *3);
}

.flex-column .col-offset-4 {
    margin-bottom: calc( (100% / 12) *4);
}

.flex-column .col-offset-5 {
    margin-bottom: calc( (100% / 12) *5);
}

.flex-column .col-offset-6 {
    margin-bottom: calc( (100% / 12) *6);
}

.flex-column .col-offset-7 {
    margin-bottom: calc( (100% / 12) *7);
}

.flex-column .col-offset-8 {
    margin-bottom: calc( (100% / 12) *8);
}

.flex-column .col-offset-9 {
    margin-bottom: calc( (100% / 12) *9);
}

.flex-column .col-offset-10 {
    margin-bottom: calc( (100% / 12) *10);
}

.flex-column .col-offset-11 {
    margin-bottom: calc( (100% / 12) *11);
}

/* COLUMN-REVERSE  */
.flex-column-reverse .col-offset-1 {
    margin-top: calc( (100% / 12) *1);
}

.flex-column-reverse .col-offset-2 {
    margin-top: calc( (100% / 12) *2);
}

.flex-column-reverse .col-offset-3 {
    margin-top: calc( (100% / 12) *3);
}

.flex-column-reverse .col-offset-4 {
    margin-top: calc( (100% / 12) *4);
}

.flex-column-reverse .col-offset-5 {
    margin-top: calc( (100% / 12) *5);
}

.flex-column-reverse .col-offset-6 {
    margin-top: calc( (100% / 12) *6);
}

.flex-column-reverse .col-offset-7 {
    margin-top: calc( (100% / 12) *7);
}

.flex-column-reverse .col-offset-8 {
    margin-top: calc( (100% / 12) *8);
}

.flex-column-reverse .col-offset-9 {
    margin-top: calc( (100% / 12) *9);
}

.flex-column-reverse .col-offset-10 {
    margin-top: calc( (100% / 12) *10);
}

.flex-column-reverse .col-offset-11 {
    margin-top: calc( (100% / 12) *11);
}

