.container {
    padding: 5px 0;
}

[class*="col"] {
    text-align: center;
}

.xl {
    min-height: 80px;
}

/* DEBUG  */
.debug [class*="col"] {
    background-color: lightseagreen;
    color: white;
    padding: 15px;
    border: 1px solid white;
}

.debug [class*="col"]>[class*="col"] {
    background-color: blue;
    border: 1px solid lightseagreen;
}