.container {
    padding: 5px 0;
}

[class*="col"] {
    text-align: center;
}


/* DEBUG  */
.debug [class*="col"] {
    background-color: lightseagreen;
    color: white;
    padding: 10px;
    border: 1px solid white;
}